/* =============
    footer bar
============= */


.bar{
    ul {
		height: 100%;
		padding-top: 20%;
		@include lg {
			align-items: center;
			display: flex;
			justify-content: flex-end;
			padding-top: 0;
		}
		li {
			display: flex;
			justify-content: flex-end;
			margin-bottom: 24px;
			text-align: right;
			@include lg {
				border-left: 1px solid $black;
				margin-bottom: 0;
				margin-left: 16px;
				padding-left: 24px;
			}
			a:link,
            a:visited {
				color: $white;
				font-size: 20px;
				font-weight: 300;
				text-decoration: none;
				transition: 0.25s;
				@include lg {
					color: $black;
				}
				&:hover,
                &:active {
					color: $black;
				}
			}
			&:first-child {
				border: none;
			}
		}
	}
}
