/* =============
    Buttons
============= */

button{
    background-color: $sunglow;
    border: none;
    border-radius: 8px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 24px;
    padding-right: 24px;

}